@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

body{
		min-height:100%;
	    height:auto;
	    max-width:100%;
	    width:auto;
	    
	
	  

}

nav{
	background-color:black;
}

.title{
	margin-top:130px;
}

.trait{
	height:6px;
	width:96%;
	margin-left:2%;
	background-color:black;
	margin-top:30px;
}

h2{
	color:white ;
}
.rect,.rectangle{
	margin-top:50px;
}
.descriptif{
	margin-top:40px;
	font-size:160%;
}


.rectangle{
	width:100%;
	width:auto;
	height:100%;
	height:auto;
	background-color:turquoise;
}

.decor{
	margin-top:50px;
	height:200px;
	width:200px;

}

.form2{
	margin-top:-470px;
	margin-left:50%;
	font-family: 'Mea Culpa', cursive; 
}


.rectangle2{
	width:100%;
	width:auto;
	height:100%;
	height:auto;
	background-color:white;
	padding-bottom:30px;

}
.form2{
	font-size:150%;

}
.categories{
	margin-top:10px;
}
.soumettre{
	margin-top:20px;
	margin-left:5px;
	width:205px;
}





/* Permet de gerer le problème des dimensions */
@media screen and (max-width:1020px ){
	.form2{
		margin-top:0;
		margin-left:20px;
	}
}